<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="alejandrodovale.hellworldinnocv">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.getAll.GetAllActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.details.DetailsActivity"
            android:exported="true"
            android:label="@string/title_activity_details"
            android:parentActivityName=".view.getAll.GetAllActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.newuser.NewUserActivity"
            android:exported="true"
            android:label="@string/title_activity_new_user_actvity"
            android:parentActivityName=".view.getAll.GetAllActivity"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.buscar.BuscarActivity"
            android:label="@string/title_activity_buscar"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>